.second {
    display: flex;
    flex-direction: row;
    justify-content: space-evently;
    padding-top: 10vh;
    width: 100%;
    height: 38vh;
}

.compact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 25%;
}

.compact p {
    padding-top: 3vh;
    text-transform: capitalize;
    font-size: 1.3em;
    font-weight: 500;
    color: rgba(30, 30, 30, 1);
}



