.main {
    flex-direction: row;
    height: 13vh;
    text-transform: uppercase;
}

.left-column {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.title-row {
    font-size: 4rem;
    font-weight: lighter;
    padding-left: 5px;
    color: rgba(30, 30, 30, 1);
}

.nav-row {
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    padding-top: 14px;
    font-size: 1em;
    color: rgba(92, 92, 92, 0.9);
    gap: 4%;
}

.nav-row a {
    text-decoration: none;
    color: black;
}

.nav-row a:hover {
    text-decoration: underline;
    color: rgb(113, 128, 198);
}

.right-column {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.description {
    display: flex;
    flex-direction: row;
    padding-top: 4px;
    padding-right: 20px;
    gap: 6%;
    width: 100%;
    height: 6vh;
    font-size: 0.8em; 
    font-weight: bolder;
    justify-content: flex-end;
}

.description a {
    text-decoration: none;
    color: rgb(3, 30, 30, 1);
}

.description a:hover {
    text-decoration: underline;
    color: rgb(3, 30, 30, 0.5);
}

.search-field {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 100%;
    height: 7vh;
    gap: 5%;
    background-color: aqua;
}

.search-button {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-top: 1.5vh;
    padding-left: 20px;
    gap: 30px;
    text-transform: capitalize;
    width: 390px;
    height: 5vh;
    font-size: 1em;
}


.search-field a {
    text-decoration: none;
    font-size: 1.4em;
    color: rgb(30, 30, 30);
}







